<div id="<%= dom_id scheduling %>">
  <p>
    <strong>Account:</strong>
    <%= scheduling.account_id %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= scheduling.device_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= scheduling.group_id %>
  </p>

  <p>
    <strong>Schedule time:</strong>
    <%= scheduling.schedule_time %>
  </p>

</div>
